*{
    margin :0px;
    font-family: 'Manrope',sans-serif;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    /* background-color: yellow; */
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
}
.header img{
    height: 40px;
}
.main{
    max-width: 1240px;
    margin: auto;
    width: 100%;
    height: 550px;
    background-color: rgba(244, 244, 245, 1);
    display: flex;
}
.citizen{
    margin-top: 150px;
    margin-left: 45px;
    width: 500px;
    height: 220px;
    /* background-color: gray; */
    color: white;
}
.citizen h1{
    font-size: 40px;
    font-family: 'Manrope',sans-serif;
}
.uni{
    width: 100%;
    height: 200px;
    /* background-color: blueviolet; */

}
.call-in{
    width: 250px;
    height: 60px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    /* justify-content: center; */

}
.podob{
    /* border-radius: 8px; */
    margin-left: 15px;
    width: 60%;
    height: 25px;
    background-color: rgba(215, 177, 141, 1);
}
.podob p{
    color:black;
  font-size: 25x;
}
.oficial{
    display: none;
}
.que{
    display: none;
}
.rassmotrim{
    max-width: 1240px;
    margin: auto;
    padding-top: 25px;
    width: 95%;
    height: 200px;
    background-color: rgba(33, 39, 49, 1);
    /* display: flex;
    align-items: center; */
}
.rassmotrim h1{
    color: white;
    margin-left: 15px;
    font-size: 45px;

}
.knop{
    align-items: center;
    display: flex;
    margin-left: 25px;
    margin-top: 25px;
    width: 300px;
    height: 60px;
    /* background-color: green; */
}
.b1{
    margin-left: 15px;
    height: 40px;
    width: 120px;
    background-color: rgba(40, 48, 61, 1);
    color: white;
    border: none;
    border-radius: 8px;
}
.doc{
     /* background-color: aqua; */
    height: 200px;
    margin-top: -155px;
    margin-left: 650px;
}
.doc img{
    height: 218px;
}
.vacantion{
    max-width: 1240px;
    margin: auto;
    margin-top: 15px;
    width: 100%;
    height: 500px;
    /* background-color: aqua; */

}
.vacantion h1{
    margin-left: 10px;
}
.cards{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;

}
.c1{
    margin-left: 10px;
    margin-top: 25px;
    width: 300px;
    height: 250px;
    box-shadow: 0px 0px 1px 0px;
}
.c1-head{
    width: 100%;
    height: 30px;
    /* background-color: yellow; */
    display: flex;
    margin-top: 15px;
    align-items: center;
}
.c1-head p{
    margin-left: 25px;
    color:rgba(132, 140, 154, 1);
}
.med-c1{
    width: 100%;
    height: 50px;
    /* background-color: blueviolet; */
    margin-top: 20px;   
}
.med-c1 h2{
    margin-left: 15px;
}
.med-c1 p{
    margin-left: 15px;
}
.yandex{
    margin-top: 30px;
}
.yandex p{
       color:rgba(132, 140, 154, 1);
    margin-left: 15px;
}
.button{
    width: 100%;
    margin-top: 40px;
}
.button button{
    margin-left: 15px;
    height: 30px;
}
.b11{
    background-color: rgba(215, 177, 141, 1);
    border: none;
    border-radius: 10px;
}
.b22{
    background-color: none;
    border:3px solid rgba(215, 177, 141, 1);
    height: 30px;
    border-radius: 10px;
}
.additional{
    border:2px solid  lightgrey;
    margin-top: 25px;
    width: 93%;
    height: 100px;
    /* background-color: aqua; */
    margin-left: 8px;
}
.name{
    width: 100%;
    height: 40px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
}
.name h2{
    font-size: 18px;
    margin-top: 7.5px;
}
.all{
    /* margin-left: -10px; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;

}
.all p{
    margin-top: 15px;
    margin-left: 10px;
}
hr{
    height: 0.1;;
}
.companies{
    max-width: 1240px;
    margin: auto;
    width: 100%;
    height: 280px;
    /* background-color: aqua; */
}
.work-place{
    width: 100%;
    height: 250px;
    /* background-color: red; */
    display: flex;

}
.work-1{
    width: 400px;
    height: 180px;
    border:1px solid lightgray;
    margin-left: 15px;
    margin-top: 15px;
   border-radius: 10px;
}
.d1{
    width: 100%;
}
.d1 p{
    margin-top: 15px;
    margin-left: 15px;
    color: rgba(132, 140, 154, 1);
}
.d2{
    align-items: center;
    width: 100%;
    display: flex;
    height: 40px;
    /* background-color: green; */
    justify-content: space-between;

}
.d2 img{
     margin-left: 15px;
     height: 30px;
}
.d2 p{
    margin-left: 15px;
    font-weight: bold;
    font-size: 25px;
}
.more{
    height: 50px;
    width: 90%;
margin-left: 25px;
margin-top: 25px;
    border:3px solid rgba(215, 177, 141, 1);
border-radius: 10px;
}
.contact{
    max-width: 1240px;
    margin: auto;
    gap:30px;
    color: white;
    align-items: center;
    display: flex;
    width: 100%;
    height: 90px;
    background-color: gray;

}
.contact h1{
    font-size: 20px;
    margin-left: 25px;
}
#phone{
    margin-left: 25px;
    height: 35px;
    border-radius: 10px;
    border: none;
}
.hot-vcn{
    max-width: 1240px;
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 25px;
    display: flex;
}
.ht1{
    width: 40%;
    height: 100%;
    /* background-color: brown; */
    margin-left: 15px;
}
.ht1 h1{
    margin-top: 45px;
    text-align: center;
    color: white;
}
.ht1 p{
    margin-top: 50px;
    margin-left: 150px;
    color: white;
}
.ht1 h3{
    margin-top: 50px;
    margin-left: 190px;
    color: white;
}
.php{
    align-items: center;
    display: flex;
    width: 40%;
    height: 100%;
    /* background-color: red; */
}
.number{
    border-radius: 10px;
    margin-left: 15px;
    width: 200px;
    height: 40%;
    background-color: white;
    color: black;

}
.number h1{
    text-align: center;
    font-size: 55px;
}
.number p{
    margin-left: 45px;
}
@media (max-width:768px){
    .main{
        width:  90%;
        flex-direction: column;
    }
    .uni img{
        display: none;
    }
    .podob{
        display: none;
    }
    .oficcial{

        display: block !important;
    }
    .que{
        width: 100%;
        height: 150px;
        background-color: black;
        display: block;
    }
    .rassmotrim{
        width: 100%;
        margin-top: 230px;
    height: 400px;       
    }
    .porr{
        flex-direction: column;
    }
    .knop{
        gap: 15px;
        flex-direction: column-reverse;
        height: 150px;
    }
    .doc img{
        display: none;
    }
    .hedd{
        font-size: 45px !important;
        margin-left: -40px !important;
    }
    .citizen{
        width: 95%;
    }
    .cards{
        flex-direction: column;
    }
    .all{
        width: 90%;
    }
    .companies{
        margin-top: 1200px;
    }
    .work-place {
        flex-direction: column;
    }
    .work-1{
        width: 90%;
    }
    .contact{
        margin-top: 300px;
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 100%;
  height: 300px;
    }
    .contact input{
        width: 85%;

    }
    .orr{
        margin-top: -20px;
    }
    .hot-vcn{
        height: 600px;
        flex-direction: column;
    }
    .joker{
        margin-top: -80px;
    }
    .gruzz{
        
        margin-left: -25px;
    }
    .ht1{
        width: 100%;
        /* background-color: red; */
    }
}
